spec:
  inputs:
    stage:
      description: "Stage to run Sonarqube"
      type: string
      default: sonarqube
    language:
      description: "Program Language for Scan and Quality Gate"
      type: string
      default: ""
    environment:
      description: "Environment for Scan and Quality Gate"
      type: string
      default: sonarqube
    #.NET variables
    dotnet_version:
      description: ".NET version"
      type: string
      default: "8.0"
    dotnet_path_sln_or_csproj:
      description: "Path for .sln or .csproj"
      type: string
      default: ""
---
.retry: &retry
  retry:
    max: 2
    when:
    - runner_system_failure
    - stuck_or_timeout_failure
    - api_failure
    - job_execution_timeout
    - scheduler_failure

variables:
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar" # Defines the location of the analysis task cache
  GIT_DEPTH: "0" # Tells git to fetch all the branches of the project, required by the analysis task

stages:
- $[[ inputs.stage ]]

# ARM64
sonarqube:
  <<: *retry
  rules:
  - if: '"$[[ inputs.language | expand_vars ]]" == "" || "$[[ inputs.language | expand_vars ]]" == "node"'
  environment: $[[ inputs.environment ]]
  stage: $[[ inputs.stage ]]
  image: public.ecr.aws/n6a9k4a7/deploy:1-sonarqube
  cache:
    policy: pull-push
    key: "sonar-cache-$CI_COMMIT_REF_SLUG"
    paths:
    - "${SONAR_USER_HOME}/cache"
    - sonar-scanner/
  script:
  - sonar-scanner -Dsonar.host.url="$SONAR_HOST_URL" -Dsonar.token="$SONAR_TOKEN" -Dsonar.projectKey="$SONAR_PROJECT_KEY" -Dsonar.sourceEncoding=UTF-8
  - |
    exit_status=$?
    if [ $exit_status -eq 0 ]; then
      echo "SonarQube successfully!"
      echo "Url to project: $SONAR_HOST_URL/dashboard?id=$SONAR_PROJECT_KEY"
    else
      echo "SonarQube failed!"
      echo "Url to project: $SONAR_HOST_URL/dashboard?id=$SONAR_PROJECT_KEY"
      exit 1
    fi

# AMD64
sonarqube_amd64:
  <<: *retry
  rules:
  - if: '"$[[ inputs.language | expand_vars ]]" == "node_amd64"'
  environment: $[[ inputs.environment ]]
  stage: $[[ inputs.stage ]]
  image:
    name: sonarsource/sonar-scanner-cli:11
    entrypoint: [ "" ]
  cache:
    policy: pull-push
    key: "sonar-cache-$CI_COMMIT_REF_SLUG"
    paths:
    - "${SONAR_USER_HOME}/cache"
    - sonar-scanner/
  script:
  - sonar-scanner -Dsonar.host.url="$SONAR_HOST_URL" -Dsonar.token="$SONAR_TOKEN" -Dsonar.projectKey="$SONAR_PROJECT_KEY" -Dsonar.sourceEncoding=UTF-8
  - |
    exit_status=$?
    if [ $exit_status -eq 0 ]; then
      echo "SonarQube scan completed successfully."
      echo "Url to project: $SONAR_HOST_URL/dashboard?id=$SONAR_PROJECT_KEY"
    else
      echo "SonarQube scan failed."
      echo "Url to project: $SONAR_HOST_URL/dashboard?id=$SONAR_PROJECT_KEY"
      exit 1
    fi
  tags:
  - amd64-dedicated

# ARM64
sonarqube_dotnet:
  <<: *retry
  rules:
  - if: '"$[[ inputs.language | expand_vars ]]" == "dotnet"'
  stage: $[[ inputs.stage ]]
  environment: $[[ inputs.environment ]]
  image: mcr.microsoft.com/dotnet/sdk:$[[inputs.dotnet_version]]-noble-arm64v8
  before_script:
  - apt-get update && apt-get install -y curl gnupg
  - curl -fsSL https://deb.nodesource.com/setup_20.x | bash -
  - apt-get install -y nodejs
  - node -v && npm -v
  - dotnet tool install --global dotnet-sonarscanner
  - dotnet tool install --global dotnet-coverage
  - export PATH="$HOME/.dotnet/tools:$PATH"
  - |
    if [ -n "${NUGET_URL}" ] && [ -n "${NUGET_USER}" ] && [ -n "${NUGET_PASS}" ]; then
      echo "Adicionando source NuGet..."
      dotnet nuget add source "${NUGET_URL}" -n github -u "${NUGET_USER}" -p "${NUGET_PASS}" --store-password-in-clear-text
    else
      echo "Variáveis de NuGet não definidas. Pulando configuração."
    fi
  script:
  - >
    dotnet-sonarscanner begin \
      /k:"${SONAR_PROJECT_KEY}" \
      /d:sonar.host.url="${SONAR_HOST_URL}" \
      /d:sonar.token="${SONAR_TOKEN}" \
      /d:sonar.projectBaseDir="${CI_PROJECT_DIR}" \
      /d:sonar.cs.opencover.reportsPaths="coverage.xml" 
  - dotnet build $[[inputs.dotnet_path_sln_or_csproj]] --no-incremental
  - >
    dotnet-coverage collect \
      "dotnet test $[[inputs.dotnet_path_sln_or_csproj]] --configuration Debug /p:CoverletOutputFormat=opencover /p:CoverletOutput='coverage.xml'" \
      -f xml -o "coverage.xml"
  - dotnet-sonarscanner end /d:sonar.token="${SONAR_TOKEN}"
  - |
    exit_status=$?
    if [ $exit_status -eq 0 ]; then
      echo "SonarQube scan completed successfully."
      echo "Url to project: $SONAR_HOST_URL/dashboard?id=$SONAR_PROJECT_KEY"
    else
      echo "SonarQube scan failed."
      echo "Url to project: $SONAR_HOST_URL/dashboard?id=$SONAR_PROJECT_KEY"
      exit 1
    fi

# AMD64
sonarqube_dotnet_amd64:
  <<: *retry
  rules:
  - if: '"$[[ inputs.language | expand_vars ]]" == "dotnet_amd64"'
  stage: $[[ inputs.stage ]]
  environment: $[[ inputs.environment ]]
  image: mcr.microsoft.com/dotnet/sdk:$[[inputs.dotnet_version]]-alpine
  before_script:
  - apk add --no-cache nodejs npm
  - node -v && npm -v
  - dotnet tool install --global dotnet-sonarscanner
  - dotnet tool install --global dotnet-coverage
  - export PATH="$HOME/.dotnet/tools:$PATH"
  - |
    if [ -n "${NUGET_URL}" ] && [ -n "${NUGET_USER}" ] && [ -n "${NUGET_PASS}" ]; then
      echo "Adicionando source NuGet..."
      dotnet nuget add source "${NUGET_URL}" -n github -u "${NUGET_USER}" -p "${NUGET_PASS}" --store-password-in-clear-text
    else
      echo "Variáveis de NuGet não definidas. Pulando configuração."
    fi
  script:
  - >
    dotnet-sonarscanner begin \
      /k:"${SONAR_PROJECT_KEY}" \
      /d:sonar.host.url="${SONAR_HOST_URL}" \
      /d:sonar.token="${SONAR_TOKEN}" \
      /d:sonar.projectBaseDir="${CI_PROJECT_DIR}" \
      /d:sonar.cs.opencover.reportsPaths="coverage.xml" 
  - dotnet build $[[inputs.dotnet_path_sln_or_csproj]] --no-incremental
  - >
    dotnet-coverage collect \
      "dotnet test $[[inputs.dotnet_path_sln_or_csproj]] --configuration Debug /p:CoverletOutputFormat=opencover /p:CoverletOutput='coverage.xml'" \
      -f xml -o "coverage.xml"
  - dotnet-sonarscanner end /d:sonar.token="${SONAR_TOKEN}"
  - |
    exit_status=$?
    if [ $exit_status -eq 0 ]; then
      echo "SonarQube scan completed successfully."
      echo "Url to project: $SONAR_HOST_URL/dashboard?id=$SONAR_PROJECT_KEY"
    else
      echo "SonarQube scan failed."
      echo "Url to project: $SONAR_HOST_URL/dashboard?id=$SONAR_PROJECT_KEY"
      exit 1
    fi
  tags:
  - amd64-dedicated
